:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --navyblue: #2e2f42;
  --white: #fff;
  --besh: #f4f4fd;
}
/*--------------------------------Main Page------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  margin-right: 0%;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #fff;
}
/*----------------------------------header-----------------------*/
/*--------------------------section----------------------------*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.top-line {
  display: flex;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
img {
  display: block;
}
.top-line-div {
  display: flex;
}
.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;

  outline: 2px solid red;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--iris, #4d5ae5);
  margin-right: 76px;
}
.logo-web {
  justify-content: center;
  color: var(--navyblue, #2e2f42);
}
.liste {
  list-style: none;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.text-list {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  list-style: none;
  text-decoration: none;
  display: flex;
  height: 48px;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}
.text-list-item {
  color: var(--navyblue);
  padding: 24px 0;
  position: relative;

  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-list-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.text-add {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;

  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
  align-items: center;
  color: var(--slate, #434455);
  text-decoration: none;
  box-sizing: border-box;
}
.adres-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  display: flex;
  margin-left: 0%;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-add-item {
  margin-right: 40px;
}
.text-add-iteme {
  margin-right: 0%;
}
.adres-item:hover {
  color: #404bbf;
}
.adres-item:focus {
  color: #404bbf;
}
.text-list-item:hover {
  color: #404bbf;
}
.text-list-item:focus {
  color: #404bbf;
}
/*-----------------------------------main-----------------------------------*/
/*------------------------------section-1--------------------------------*/
.hero {
  background: var(--navyblue, #2e2f42);
  padding: 188px 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-text {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 48px;
}

.hero-buttom {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--iris, #4d5ae5);
  cursor: pointer;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-buttom:hover,
.hero-buttom:focus {
  background-color: #404bbf;
}
/*-----------------------------------section-2----------------------------*/
.feature {
  padding: 120px 0;
}
.list {
  list-style: none;
}
.feature-ul {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-text {
  width: calc((100% - 3 * 24px) / 4);
}
.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  margin-bottom: 8px;
}

.feature-strong {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.feature-lowtext {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*-----------------------------------section-3----------------------------*/
.doin {
  text-align: center;
  padding-bottom: 120px;
}
.doin-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}
.doin-ite {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.doin-img {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: url(<path-to-image>),
    lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}
.doin-img2 {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.doin-img3 {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
/*----------------------------------------------section-4----------------------------*/
.team {
  justify-content: center;
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-text {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  justify-content: center;
  background: var(--white, #fff);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.scial-merezha {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.scial-merezha-item {
  width: 40px;
  height: 40px;
}
.scial-merezha-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.scial-merezha-link:hover {
  background-color: #404bbf;
}

.scial-merezha-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

.team-div {
  justify-content: center;
}
.team-twodiv {
  padding: 32px 0;
}
.team-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-desc {
  color: var(--slate, #434455);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*------------------------------------------section- 5---------------------------------*/
.custome {
  padding-top: 120px;
  padding-bottom: 120px;
}
.custome-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.customer-list {
  display: flex;
  gap: 24px;
}
.custome-item {
  width: calc((100% - 120px) / 6);
  width: 168px;
  height: 88px;

  list-style: none;
  text-decoration: none;
}
.customer-list-btn {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-list-btn:hover {
  border-color: #404bbf;
  color: #404bbf;
}
.customer-list-btna:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.custome-svg {
  fill: currentColor;
}
/*------------------------------------------footer---------------------------------*/
.foote {
  background-color: var(--navyblue, #2e2f42);
  padding: 100px 0;
}
.foote-logo-div {
  margin-right: 120px;
}
.foote-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);

  display: inline-block;
  margin-bottom: 16px;
}
.foote-logo-stu {
  justify-content: center;
  color: var(--cloud, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.foote-text {
  color: var(--cloud, #f4f4fd);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.foote-container {
  display: flex;
  align-items: baseline;
}
.foote-media {
  display: block;
}

.social-merezha {
  display: flex;
  gap: 16px;
}
.foote-media-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-merezha-item {
  width: 40px;
  height: 40px;
}
.social-merezha-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-merezha-link:hover {
  background-color: #31d0aa;
}
.social-merezha-link:focus {
  background-color: #31d0aa;
}

/*-------------------------------portfolio---------------------------------*/
/*--------------------------------header------------------------------*/
.foo {
  display: flex;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
}
.foo-div {
  display: flex;
}
.foo-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--iris, #4d5ae5);
  margin-top: 16px;
  margin-right: 76px;
}
.foo-nav-span {
  color: var(--navyblue, #2e2f42);
  justify-content: center;
}
.foo-nav-spc {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  list-style: none;
  text-decoration: none;
  display: flex;
  height: 48px;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}
/*
.foo-link {
  padding: 24px 0;
}*/

.foo-div-stu {
  justify-content: center;
  color: var(--navyblue, #2e2f42);
}
.foo-nav {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
}

.foo-nav-studi {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.foo-nav-studi:hover,
.foo-nav-port:hover,
.foo-nav-cont:hover {
  color: #404bbf;
}
.foo-nav-studi:focus,
.foo-nav-port:focus,
.foo-nav-cont:focus {
  color: #404bbf;
}

.foo-nav-port {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.foo-nav-cont {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.foo-address {
  display: flex;
  color: var(--slate, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  margin-left: auto;
}
.foo-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.foo-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
}
.foo-mail:hover,
.foo-mail:focus {
  color: #404bbf;
}
/*-------------------------------------------------main------------------------------------------*/
/*------------------------------------------------section-1-----------------------------------------*/
.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.butt-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: calc((100% - 96) / 5);
  gap: 24px;
  margin-bottom: 72px;
}
.butt-item {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);

  color: var(--iris);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;

  cursor: pointer;
}
.butt-item:hover,
.butt-item:focus {
  color: var(--white);
  background-color: #404bbf;
  border: 1px solid transparent;
}

/*--------------------------------------------list-photo---------------------------------------*/
.photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.photo-item {
}

.photo-container {
  width: 360px;

  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.butt-div-container {
  display: flex;
  /*padding: 0px 16px;*/
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.butt-list-title {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.butt-list-desc {
  color: var(--slate, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*---------------------------------------------footer--------------------------------------*/
.low {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.foo-nav-spane {
  color: var(--besh);
}
.foote-container {
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
}

.low-text {
  width: 264px;
  color: var(--cloud, #f4f4fd);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.foo-logo {
  margin-bottom: 17px;
}
